[submodule "pytorch-sentiment-analysis"]
	path = pytorch-sentiment-analysis
	url = https://github.com/bentrevett/pytorch-sentiment-analysis.git
[submodule "matterai/BestPractices"]
	path = matterai/BestPractices
	url = git@github.com:anthony-wang/BestPractices.git
